.parallax-container {
      height: 250px;
    }
#card1{
	position:absolute;
	z-index: 1;
}
#card2{
	position:absolute;
	z-index: 1;
}
#card3{
	position:absolute;
	z-index: 1;
}
#logo{
	margin-top: 10px;
}
#labelid  #labelname{
   padding: .2em;
   -webkit-transition: all .3s;
   transition: all .3s;
}
#logmodal {
 background: rgba(0, 0, 0, 0.73);
}